*{
	margin: 0;
	padding: 0;
}

body{
	background:#f7f3f3;	
}

p{
    font-family: "Rosario", sans-serif;
    font-size: 25px;
}

header, .main{
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
}


header nav{
	background: #045e08;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	padding: 10px 20px;
	display:block;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

p, li{
	font-size:20px;
}

h1{
	font-family: "Smooch Sans", sans-serif;
	font-size: 60px;
}

h2{
	font-family: "Smooch Sans", sans-serif;
    font-size: 40px;
}

h3{
    font-family: "Farro", sans-serif;
}

.sectitulo{
    width:87%;
    margin:0 auto;
}

.variasn{
width:75%;
margin:0 auto;
}

.vertical-line{
    background-color: rgb(15, 15, 15);
    width:89%;
    margin:0 auto;
    min-height: 3px;
}


.imagen-noticias{

    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */


}


.newscontainer{
    padding-top: 30px;
    padding-left: 15px;
}

.grid-container{
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
}


footer{
	background: #333;
	color: white;
	padding: 1em;
	margin-top: 30px;
}

.anunciar{
    width:70%;
    background-color: rgb(206, 10, 10);
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */
    float:center;
    padding: 30px;
    border-radius: 20px;
}

#carta{
    width: 60%;
    background-color: #f7f3f3;
}

#cartero{
    width:30%;
}

#secu{
    width: 80%;
}

#grids{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#TIT{
    font-family: "Josefin Sans", sans-serif;
    padding-top: 15px;
}

.buttons {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }



  @media only screen and (max-width:1400px){

    .wrapper{
        display: none ;
    }

    .tit{
        display: none;
    }

    }
    


@media only screen and (max-width:750px){

.sidebar{
    display: none;
}

#grids{
    grid-template-columns: repeat(1, 1fr);
}

#gr{
    grid-template-columns: repeat(1, 1fr);
    width:70%;
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}

.main{
    width: 90%;
}

.wrapper{
    max-height: 250px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}


.imagen-noticia{
    width: 90%;
    min-width: 300px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */
    
}



.newscontainer{
    text-align: center;
    padding-bottom: 11%;
	width: 100%;
    max-width: 350px;
}

header, .main{
	width: 90%;
	max-width: 19em;
	margin: 20px auto;
}
.tit{
    display: block;
}

#carta{
    width: 60%;
    background-color: aqua;
}

p{
    font-size: 25px;
}

}

