*{
	margin: 0;
	padding: 0;
}

body{
	background:#f7f3f3;	
}

header, .main{
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
}


header nav{
	background: #045e08;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	padding: 10px 20px;
	display:block;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover{
	background:#75ACEC;
}


.main article{
	margin-top: 20px;
}


h2{
	font-family: "Smooch Sans", sans-serif;
    font-size: 40px;
}

h1{
	font-family: "Smooch Sans", sans-serif;
	font-size: 60px;
}

p{
    font-family: "Rosario", sans-serif;
    font-size: 20px;
}

.sectitulo{
        width:87%;
        margin:0 auto;
}

.variasn{
    width:75%;
    margin:0 auto;
}

p, li{
    font-size:20px;
}


.vertical-line{
    background-color: rgb(15, 15, 15);
    width:89%;
    margin:0 auto;
    min-height: 3px;
}

#segu{
    width: 75%;
}

#secu{
    background-color: rgb(117, 114, 114);
}

.imagen-noticia{
    width: 50%;
    min-width: 400px;
    padding-right: 5px;
    float:left;
    padding-bottom: 10px;
}

.imagen-noticias{

    width: 50%;
    min-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}


#autor{
    font-family: "Cormorant Upright", serif;
    font-size: 25px;
    font-style:italic;
}

#TIT{
    font-family: "Josefin Sans", sans-serif;
    padding-top: 15px;
}

.buttons {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

  footer{
	background: #333;
	color: white;
	padding: 1em;
	margin-top: 30px;
}




@media only screen and (max-width:1400px){

    .wrapper{
        display: none ;
    }

    .tit{
        display: none;
    }

    }
    


@media only screen and (max-width:750px){

.sidebar{
    display: none;
}

#grids{
    grid-template-columns: repeat(1, 1fr);
}

#gr{
    grid-template-columns: repeat(1, 1fr);
    width:70%;
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}

.main{
    width: 90%;
    text-align: justify;
}

.wrapper{
    max-height: 250px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}


.imagen-noticia{
    width: 90%;
    min-width: 300px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */
    
}

.imagen-noticias{

    width: 100%;
    min-width: 300px;
    padding-bottom: 10px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}

.newscontainer{
    background-color: #1ee635;
    text-align: center;
    padding-bottom: 11%;
	width: 100%;
    max-width: 350px;
}

header, .main{
	width: 90%;
	max-width: 19em;
	margin: 20px auto;
}
.tit{
    display: block;
}

p{
    font-size: 25px;
}
}